@model PropertyRentalMarketplace.ViewModels.PropertyViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "_UserLayout";
}

@{
    //بحسب العدد الذيادة للصور
    var Images = Model.Images?.ToList();
   
    int extraPhoto = Images.Count - 5;
}
<h1>@extraPhoto</h1>