
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_HostLayout";
}
@section Styles{
    <link href="~/css/tabstyle.css" rel="stylesheet" />
} 

<div class="container container1" style="margin-top:105px; min-height:80vh;">
    <ul class="nav nav-tabs" id="propertiesTab" role="tablist">
        <li class="nav-item nav-item1">
            <a class="nav-link active nav-link1" data-tab="active" href="#">Active Listings</a>
        </li>
        <li class="nav-item nav-item1">
            <a class="nav-link nav-link1" data-tab="booked" href="#">Booked Properties</a>
        </li>
        <li class="nav-item nav-item1">
            <a class="nav-link nav-link1" data-tab="expired" href="#">Expired Listings</a>
        </li>
    </ul>

    <div class="tab-content py-3" id="tabContent">
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/host/dashboard.js"></script>
}