
@{
    ViewData["Title"] = "EnterPassword";
    Layout = "_Layout";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 shadow rounded" style="width: 400px;">
        <h4>Hello, Mostafa</h4>
        <p>
            <a href="@Url.Action("PhoneLogin","Account")" class="text-decoration-none text-secondary">
                Not you?
            </a>
        </p>
        <form method="post" asp-action="Login">
            <div class="mb-3 position-relative">
                <label class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" id="passwordInput" placeholder="Enter Your Password" required />
                <img id="togglePassword" src="~/icons/eye.svg"
                     alt="Toggle Password"
                     style="position: absolute; top: 38px; right: 10px; width: 24px; cursor: pointer;" />
            </div>


            <p class="text-muted small">
                <a href="@Url.Action("ForgotPassword","Account")" class="text-decoration-none text-secondary">
                    Forgot Your Password?
                </a>
            </p>
            <button type="submit" class="btn btn-dark w-100 mb-2">Continue</button>
        </form>
    </div>
</div>
<script>
    const togglePassword = document.getElementById("togglePassword");
    const passwordInput = document.getElementById("passwordInput");

    togglePassword.addEventListener("click", function () {
        const isPassword = passwordInput.type === "password";
        passwordInput.type = isPassword ? "text" : "password";

        // Change icon image
        this.src = isPassword
              ? "/icons/eye-slash.svg"
              : "/icons/eye.svg";
    });
</script>

