@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_AuthLayout";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-controller="Account" asp-action="SendEmail" enctype="multipart/form-data" method="post">
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			
			<input type="submit" value="Reset Password">
			<div asp-validation-summary="All" class="text-danger"></div>
		</form>

		<div asp-validation-summary="All" class="text-danger"></div>
	</div>
</div>

@section ValidationScript {
	<partial name="_ValidationScriptsPartial" />
}