
@{
    ViewData["Title"] = "SetPassword";
    Layout = "_Layout";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4 shadow rounded" style="width: 400px;">
        <h4>Hello, Mostafa</h4>
        <form method="post" asp-action="Login">

            <div class="mb-3 position-relative">
                <label class="form-label">Password</label>
                <input type="password" id="passwordInput" name="Password" class="form-control" placeholder="Enter Your Password" required />
                <img id="togglePassword" src="~/icons/eye.svg"
                     alt="Toggle Password"
                     style="position: absolute; top: 38px; right: 10px; width: 24px; cursor: pointer;" />
            </div>

            <div class="mb-3 position-relative">
                <label class="form-label">Confirm Password</label>
                <input type="password" id="confirmPasswordInput" name="ConfirmPassword" class="form-control" placeholder="Enter Your Password Again" required />
                <img id="toggleConfirmPassword" src="~/icons/eye.svg"
                     alt="Toggle Confirm Password"
                     style="position: absolute; top: 38px; right: 10px; width: 24px; cursor: pointer;" />
            </div>

            <button type="submit" class="btn btn-dark w-100 mb-2">Continue</button>
        </form>
    </div>
</div>

<script>
    const togglePassword = document.getElementById("togglePassword");
    const passwordInput = document.getElementById("passwordInput");

    togglePassword.addEventListener("click", function () {
        const isPassword = passwordInput.type === "password";
        passwordInput.type = isPassword ? "text" : "password";
        this.src = isPassword ? "/icons/eye-slash.svg" : "/icons/eye.svg";
    });

    const toggleConfirmPassword = document.getElementById("toggleConfirmPassword");
    const confirmPasswordInput = document.getElementById("confirmPasswordInput");

    toggleConfirmPassword.addEventListener("click", function () {
        const isPassword = confirmPasswordInput.type === "password";
        confirmPasswordInput.type = isPassword ? "text" : "password";
        this.src = isPassword ? "/icons/eye-slash.svg" : "/icons/eye.svg";
    });
</script>
