input,
select,
textarea {
    transition: border-color 0.3s ease;
}

    input:focus,
    select:focus,
    textarea:focus {
        border-color: #9A9A9A !important;
        box-shadow: none !important;
    }
