@{
    ViewData["Title"] = "Home Page";
    ViewBag.ImageUrl = @Url.Content("~/images/hero_bg_1.jpg");
    ViewBag.text = "Where Finding a Home Feels Like Home";


}
@section Styles {
    <link href="~/css/About.css" rel="stylesheet" />
}
    <div class="container">
        <!-- ----------- start first section----------------- -->
        <div class="section1">
            <h2 class="text-center mt-5">What We Do</h2>
            <div class="d-flex gap-4 align-items-start mt-5 flex-nowrap">
                <div style="overflow:hidden">
                    <img class="me-auto we-img" src="/images/first.photo.jpg" style="max-width: 500px; height:350px; object-fit: cover;" alt="image">
                </div>
                <div class="card border-0 rounded-0 w-100 ">
                    <div class="card-body">
                        <p class="card-title title ms-5">
                            We provide a wide selection of vacation rentals from trusted real estate
                            companies
                            and lifestyle.
                        </p>
                        <div class="card-text">
                            <div class="mt-4 ms-5">
                                <p class="text-start p ">
                                    Launched in 2025, our platform was built with a clear vision: to make discovering and booking
                                    real estate
                                    properties
                                    easier, faster, and more reliable.
                                    Whether you're searching for a stylish apartment, a private villa, or a countryside cottage, we
                                    connect you
                                    directly
                                    with verified property providers — no middlemen, no hidden fees, no complications.
                                </p>
                                <p class=" text-start p">
                                    With thousands of listings across various destinations, we help travelers and investors find the
                                    perfect
                                    property
                                    with confidence.
                                </p>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- ----------- end first section----------------- -->
    <!-- -------------start section2-------- -->
    <div class="section2 mt-5 " >
        <div class="container">
            <h2 class="text-center work">Work Team</h2>

            <div class="row row-cols-1 row-cols-md-4 g-4 site-card">
                <div class="col">
                    <div class="card h-100 border-0 bg-transparent card-img1">
                        <img src="/images/page2_img01.jpg" class="card-img-top rounded-circle mx-auto d-block mt-4" style="width: 200px; height: 200px;" alt="image1">
                        <div class="card-body  mt-5">
                            <h5 class="card-title text-center">Sara Hussein</h5>
                        <p class="card-text mt-4 pcard text-center">
                                Sara is passionate about creating content that connects with people.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card h-100 border-0 bg-transparent card-img1">
                        <img src="/images/page2_img02.jpg" class="card-img-top rounded-circle mx-auto d-block mt-4" style="width: 200px; height: 200px;" alt="image1">
                        <div class="card-body mt-5">
                            <h5 class="card-title  text-center">Ahmed Hamdy</h5>
                        <p class="card-text mt-4 pcard text-center">He builds and maintains our website and platform features.</p>
                        </div>
                    </div>
                </div>
                <div class="col border-0 bg-transparent">
                <div class="card h-100 border-0 bg-transparent card-img1">
                        <img src="/images/page2_img03.jpg" class="card-img-top rounded-circle mx-auto d-block mt-4" style="width: 200px; height: 200px;" alt="image1">
                        <div class="card-body  mt-5">
                            <h5 class="card-title text-center">Aml Ahmed</h5>
                        <p class="card-text mt-4 pcard text-center">She answers questions and makes sure everyone’s happy</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                <div class="card h-100 border-0 bg-transparent card-img1 ">
                        <img src="/images/page2_img04.jpg" class="card-img-top rounded-circle mx-auto d-block mt-4" style="width: 200px; height: 200px;" alt="image1">
                        <div class="card-body mt-5">
                            <h5 class="card-title text-center ">Mostafa Murad</h5>
                        <p class="card-text mt-4 pcard text-center">He handles logistics, schedules, and daily tasks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------end section2----------- -->

    <!-- ----------------start section4-------------------- -->
    <div class="section4 mt-5" style="margin-bottom:140px">
    <div class="container" >
            <h2 class="text-center work">We're here to help you</h2>
            <div class="row row-cols-1 row-cols-md-3 g-5">
                <div class="col">
                    <div class="card border-0 bg-transparent mt-5 mb-5">
                        <div class="card-body">
                        <div class="d-flex align-items-baseline gap-2 justify-content-center">
                                <i class="fa-solid fa-clock-rotate-left icon"></i>
                                <h5 class="card-title hsection4 ">Before</h5>
                            </div>
                            <p class="card-text psection3 text-center">
                                With so much choice, you may need help deciding where or how to book, or maybe you have some special requirements? Just
                                let us know and we will do our best to assist you.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 bg-transparent mt-5 mb-5">
                        <div class="card-body">
                        <div class="d-flex align-items-baseline gap-2 justify-content-center">
                                <i class="fa-solid fa-spinner icon"></i>
                                <h5 class="card-title hsection4 ">During</h5>
                            </div>
                        <p class="card-text psection3 text-center">
                                Need ideas of what’s going on or somewhere to eat, or looking for some discount vouchers to local attractions? Maybe you
                                have an emergency and need some assistance? Whatever it is we will always try to help and remember we are 'local'.</p>
                        </div>
                    </div>
                </div>
                <!-- ------------- -->
                <div class="col">
                    <div class="card border-0 bg-transparent mt-5 mb-5">
                        <div class="card-body">
                        <div class="d-flex align-items-baseline gap-2 justify-content-center">
                                <i class="fa-solid fa-check-double icon"></i>
                                <h5 class="card-title hsection4 ">After</h5>
                            </div>
                        <p class="card-text psection3 text-center">
                                It doesn’t stop when you’ve gone home either! A customer feedback questionnaire will be sent for you to complete and
                                your comments will be passed on or possibly you’ve left something behind and you would like us to send it back.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------end section4-------------------- -->


  
