@{
    ViewData["Title"] = "Home Page";
    ViewBag.ImageUrl = @Url.Content("~/images/hero_bg_3.jpg");
    ViewBag.text = "Services";


}
@section Styles{
    <link href="~/css/services.css" rel="stylesheet" />
}
<div class="section1"> 
    <div class="container">
        <h1 class="text-center mt-5">featured services</h1>

        <div class="d-flex gap-5 mt-5 justify-content-center">
            <div class="card mb-3 border-0" style="max-width: 640px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/images/page3_img01.jpg" class="img-fluid rounded-start imagese3" style="height: 230px;" alt="image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title title">Mountain resort</h5>
                            <p class="card-text p">
                                Guests can enjoy white green peaks and crystal blue waters in our own private corner. There are great walking routes in
                                front of the resort, and also organized day trips to the surrounding towns.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 border-0" style="max-width: 640px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/images/page3_img03.jpg" class="img-fluid rounded-start imagese3" style="height: 230px;" alt="image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title title">Spacious apartments</h5>
                            <p class="card-text p">
                                We offer newly upgraded Apartment Homes nestled on a quiet street yet just a few blocks from the American river bike
                                trail and river activities. That Apartments are the perfect place to enjoy your rest.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex gap-5 mt-5 justify-content-center ">
            <div class="card mb-3 border-0" style="max-width: 640px;">
                <div class="row g-0">
                    <div class="col-md-4 ">
                        <img src="/images/page3_img04.jpg" class="img-fluid rounded-start imagese3" style="height: 230px;" alt="image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title title">Country house</h5>
                            <p class="card-text p">
                                Country house for rent with hall, kitchen, sauna. The yard is clean fishy water pool, outdoor barbecue, garden
                                furniture. Homesteads area is large with beautiful nature around.The ideal place to celebrate any holiday.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 border-0" style="max-width: 640px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/images/page3_img02.jpg" class="img-fluid rounded-start imagese3" style="height: 230px;" alt="image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title title">Villa in Miami</h5>
                            <p class="card-text p">
                                Find different Homes in Miami Beach, Coral Gables, Golden Beach, Sunny Isles, Fort Lauderdale for rent. Search and
                                compare luxury home listings by using our professional skills and experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ---------------------start section2--------------------- -->
<div class="section2 mt-5">
    <div class="container">
        <h1 class="text-center headersection">Special deals</h1>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card border-0 bg-transparent">

                    <div class="card-body">
                        <i class="fa-regular fa-clock icon "></i>
                        <h5 class="card-title text-center mt-3 hsection">last minute</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 cards bg-transparent">

                    <div class="card-body">
                        <i class="fa-solid fa-users icon"></i>
                        <h5 class="card-title text-center mt-3 hsection">Multi-night stay</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 cards bg-transparent">
                    <i class="fa-solid fa-comments icon"></i>
                    <div class="card-body">
                        <h5 class="card-title text-center mt-3 hsection">Mates rates</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 cards bg-transparent">
                    <i class="fa-solid fa-gift icon"></i>
                    <div class="card-body">
                        <h5 class="card-title text-center mt-3 hsection">Gifts & giveaways</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ---------------------end section2--------------------- -->
<!-- ---------------------------start section3------------------------- -->
<div class="section3 mt-5">
    <div class="container">
        <div class="card-group">
            <div class="gap-5 d-flex justify-content-center col-md-12">
                <div class="card col-md-4 border-0">
                    <img src="/images/page3_img06.jpg" class="card-img-top imagese3" alt="...">
                    <div class="card-body">

                        <h4 class="card-title">Car rent service</h4>
                        <h4 class="card-title">Gift Certificates from 500 usd</h4>
                        <h4 class="card-title">Pre-seasonal ordering</h4>

                    </div>

                </div>
                <div class="card col-md-4 border-0">
                    <img src="/images/page3_img07.jpg" class="card-img-top imagese3" alt="...">
                    <div class="card-body">

                        <h4 class="card-title">Equipment rent service</h4>
                        <h4 class="card-title">Cleaning and laundry</h4>
                        <h4 class="card-title">Master of ceremonies</h4>
                    </div>
                </div>
                <div class="card col-md-4 border-0">
                    <img src="/images/page3_img05.jpg" class="card-img-top imagese3" alt="...">
                    <div class="card-body">

                        <h4 class="card-title">long time rental</h4>
                        <h4 class="card-title">Provision of documents</h4>
                        <h4 class="card-title">Law support</h4>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------------------end section3------------------------------- -->
<!-- ---------------------------start section4------------------------- -->
<div class="section4 mt-5">
    <div class="container mt-5">
        <h1 class="text-center mt-5">Our services</h1>

        <div class="row border-0 mt-5">
            <div class="col-md-5">
            <img src="/images/page3_img08.png" class="card-img-top " style="width: 400px; height: 400px;" alt="...">
            </div>
            <div class=" col-md-7">

                <h5>
                    Book with Confidence using our Rental Guarantee.
                    We are the only web site to offer a free 100% rental guarantee on all the owners' properties
                    advertised.
                </h5>
                <p>
                    When you use our services, you can rest easy knowing that
                    you’re
                    working with the professional in vacation rentals. We provide a secure experience searching
                    your
                    vacation across our worldwide family of brands. Our communication system puts you in touch
                    with
                    owners in a safe, online environment, and we feature our own secure payments platform for
                    credit
                    cards and e-Checks. We’ve created all this so that you can relax and concentrate on creating
                    the
                    best vacation possible.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- ------------------end section4------------------------------- -->